<!doctype html>
<html>
  <head>
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href='/'>Users</a></h1>
      </hgroup>
    </header>
    <div id='main'>
      <%= yield %>
    </div>
    <footer>
      <p><small>An app for GA WDI</a></small></p>
    </footer>
  </body>
</html>
